:root {
	//Black
	--at-color-black-950: #030303;
	--at-color-black-900: #050505;
	--at-color-black-800: #0d0d0d;
	--at-color-black-700: #121212;
	--at-color-black-600: #171717;
	--at-color-black-500: #1c1c1c;
	--at-color-black-400: #212121;
	--at-color-black-300: #262626;
	--at-color-black-200: #292929;
	--at-color-black-100: #2e2e2e;

	//Gray
	--at-color-gray-50: #8f8f8f;
	--at-color-gray-100: #8a8a8a;
	--at-color-gray-200: #7d7d7d;
	--at-color-gray-300: #737373;
	--at-color-gray-400: #696969;
	--at-color-gray-500: #5e5e5e;
	--at-color-gray-600: #525252;
	--at-color-gray-700: #474747;
	--at-color-gray-800: #3d3d3d;
	--at-color-gray-900: #303030;
	--at-color-gray-950: #2c2c2c;

	//White
	--at-color-white-950: #fff;
	--at-color-white-900: #fcfcfc;
	--at-color-white-800: #f7f7f7;
	--at-color-white-500: #ccc;

	//Green
	--at-color-green-50: #d7debf;
	--at-color-green-100: #ccd5ae;
	--at-color-green-200: #b9c690;
	--at-color-green-300: #a8b875;
	--at-color-green-400: #95a857;
	--at-color-green-500: #7a8a47;
	--at-color-green-600: #606c38;
	--at-color-green-700: #566133;
	--at-color-green-800: #4e572d;
	--at-color-green-900: #454d28;
	--at-color-green-950: #424a26;
}
