@use '@styles/helpers.scss' as h;

.info {
	display: flex;
	flex-direction: column;
	.number {
		color: var(--at-ui-colors-text-primary);
		font-size: 17px;
		line-height: 22px;
		font-weight: 600;
	}

	.title {
		font-weight: 500;
		color: var(--at-color-gray-300);
		font-size: 15px;
	}
}
