@use '@styles/helpers.scss' as h;

.container {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 0.4rem;

	.criteria {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;

		.wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			// width: 40%;
			flex-grow: 1;

			padding: 0.5rem 0.75rem;

			border-radius: 8px;
			border: 2px solid var(--at-color-gray-700);

			background: var(--at-color-gray-900);

			.weightWrapper {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 36px;
				height: 36px;

				font-weight: 300;

				border-radius: 50%;
				background: var(--at-ui-colors-primary);
			}
		}

		.trashButton {
			display: flex;
			align-items: center;
			gap: 0.35rem;

			color: #de7072;
			background: h.hex-w-alpha(#de7072, 0.2);

			padding: 0.56rem 0.5rem;

			border-radius: 5px;
		}
	}
}

.button {
	padding: 12px 20px;
}
