.promo {
	display: flex;
	gap: 4rem;

	--poster-width: 260px;
	.noPoster {
		min-width: var(--poster-width);
		height: auto;
		aspect-ratio: 3 / 4;
	}

	.poster {
		min-width: var(--poster-width);
		img {
			border-radius: 8px;
			aspect-ratio: 3 / 4;
			object-fit: cover;
		}
	}

	.info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;

		// .title {
		// 	color: var(--at-color-white-500);

		// 	//TODO: Make "universal" var for auto-choose desktop/mobile/tablet
		// 	font-size: calc(var(--at-ui-text-fs-standard-desktop) * 0.9);
		// }

		.rating {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;

			.icon {
				color: var(--at-color-gray-200);
			}

			span {
				color: var(--at-color-white-800);

				font-size: calc(var(--at-ui-text-fs-standard-desktop) * 0.9);
			}
		}

		.actions {
			width: 100%;

			display: flex;
			align-items: center;
			justify-content: space-between;

			.left {
				display: flex;
				align-items: center;
				gap: 1rem;
			}

			.right {
			}
		}
	}
}

.content {
	.overview {
		display: flex;
		align-items: flex-start;
		gap: 4rem;

		.details,
		.description {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
		}
		.details {
			.detailsList {
				.detail {
					width: 100%;

					padding: 0.75rem 0;

					// border-bottom: 1px solid var(--at-color-black-300);

					display: flex;
					align-items: center;

					.title,
					.value {
						font-size: calc(var(--at-ui-text-fs-standard-desktop) * 0.9);
					}

					.title {
						width: 150px;

						color: var(--at-color-gray-50);
					}

					.value {
						color: var(--at-color-white-500);
					}
				}
			}
		}

		.description {
			.text {
				color: var(--at-color-white-500);
			}
		}
	}
}
