.button {
	--border-radius: 10px;

	position: relative;

	padding: 14px 20px;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	color: var(--at-color-white-800);

	font-size: 17px;
	line-height: 22px;
	font-weight: 500;

	border-radius: var(--border-radius);
	min-height: inherit;
}

.button.primary {
	background: var(--at-color-green-600);
}

.button.dark {
	background-color: var(--at-color-black-700);
}

.button.gray {
	background-color: var(--at-color-gray-900);
}

.button.transparent {
	background-color: transparent;
}

.button:disabled {
	opacity: 0.5;
	cursor: auto;
}
