.criteriaForm {
	display: flex;
	align-items: center;
	width: 100%;
	.criteriaTitle {
		flex: 1 0;

		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		border: 2px solid var(--at-color-black-500);
		border-right: 2px solid var(--at-color-black-500);
	}
	.criteriaWeight {
		flex: 0.1 0;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		border: 2px solid var(--at-color-black-500);
		border-left: none;
	}

	.addButton {
		display: flex;
		align-items: center;
		justify-content: center;

		color: var(--at-color-green-600);
	}
}
