@use '@styles/helpers.scss' as h;

.modalOverlay {
	position: fixed;
	top: 0;
	z-index: 1231;
	overflow: auto;

	display: block;

	width: 100%;
	height: 100%;

	background: h.hex-w-alpha(var(--at-color-black-900), 0.75);

	display: flex;
}

.modalOverlay.leftAttach {
	flex-direction: row;
}
.modalOverlay.rightAttach {
	flex-direction: row-reverse;
}

.modalOverlay.rightAttach .modalWrapper {
	margin: 0;
}

.modalWrapper {
	margin: 0 auto;

	align-self: center;
}

.modalWrapper.topAlign {
	align-self: flex-start;
}

.modalWrapper.centerAlign {
	align-self: center;
}

.modalWrapper.downAlign {
	align-self: flex-end;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;

	.closeButton {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		border-radius: 6px;
		color: var(--at-ui-colors-text-primary);
		transition: background 0.3s ease;

		&:hover {
			background-color: #ffffff1a;
			transition: background 0.3s ease;
		}
	}
}
