.input {
	padding: 12px;

	color: var(--at-color-white-500);
	caret-color: var(--at-color-white-500);
	background-color: var(--at-color-gray-950);

	border: none;
	border-radius: 8px;

	line-height: 24px;
	font-size: 16px;

	width: 100%;
}

.input::placeholder {
	font-weight: 500;
	font-size: 16px;
	color: var(--at-color-gray-200);
}
